<div class="row photo-container" *ngIf="!isLoader">
    <div class="col-md-2 col-6 mb-3" *ngFor="let photo of photoData">
        <div class="card">
            <img class="card-img-top" src="{{ photo.thumbnailUrl}}" alt="Card image cap">
            <div class="card-body p-2">
                <p class="card-text small">{{ photo.title }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="isLoader">
    <div class="col-12">
        <app-loader></app-loader>
    </div>
</div>